body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

div{
  animation: fill 10s infinite;
  margin-left: 1em;
  font-family:"Gill Sans", sans-serif ;
  font-size: 2em;
  white-space: nowrap;
}

@keyframes fill {
  20% {
    color: lightblue;
  }
  40% {
    color: blue;
  }
  60% {
    color: navy;
  }
  80% {
    color: navy;
  }
  100% {
    color: black;
  }
}