body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.heart {
  height: 100px;
  width: 100px;
  animation: beating linear 1.5s infinite;
  background-color: lightblue;
  transform: rotate(45deg);
  position: relative;
}

.heart::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: lightblue;
  position: absolute;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: lightblue;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes beating {
  0% {
    transform: rotate(45deg) scale(1);
  }
  25%{
    transform: rotate(45deg) scale(1.5);
  }
  50% {
    transform: rotate(45deg) scale(1.3);
  }
  75% {
    transform: rotate(45deg) scale(1.5);
  }
}