body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightgrey;
}

input#toggle {
  display:none;
}

input#toggle + label {
  width: 100px;
  height: 50px;
  background-color: lightgrey;
  position: relative;
  border-radius: 1.5em;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.619), 0px -1px 3px 2px rgba(255, 255, 255, 0.565);
  cursor: pointer;
}

input#toggle + label::after {
  content: "";
  width: 38px;
  height: 38px;
  top: 0.35em;
  left: 0.5em;
  background-color: darkgrey;
  border-radius: 50%;
  position: absolute;
  transition: all 0.4s ease;
}

input#toggle:checked +  label::before {
  content:"";
  border-radius: inherit;
  position: absolute;
  background: linear-gradient(330deg, navy 0%, rgba(50, 91, 172, 0.84) 50%, lightblue 100%);
  width: 100px;
  height: 50px;
  transition: all 0.4s ease;
  opacity: 0;
}

input#toggle:checked + label::before{
  opacity: 1;
}

input#toggle:checked + label::after{
  transform: translateX(120%);
  background-color: rgba(255, 255, 255, 0.858);
}