body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightgrey;
}

#toggle {
  display:none;
}

#toggle ~ label {
  width: 100px;
  height: 50px;
  background-color: lightgrey;
  position: relative;
  border-radius: 1.5em;
  box-shadow: -2px -1px 3px 2px white;
}
