div {
  display:flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

span {
  text-transform: uppercase;
  font-family:"Gill Sans", sans-serif;
  font-size: 4em;
  animation: move 3s linear infinite
}

span:nth-child(1) {
  animation-delay: 0.1s;
}

span:nth-child(6) {
  animation-delay: 0.2s;
}

span:nth-child(5) {
  animation-delay: 0.3s;
}

@keyframes move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(200px);
  }
}