body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  background: transparent;
  border: navy 2px solid;
  height: 100px;
  width: 300px;
  font-size: 2em;
  font-family:"Gill Sans", sans-serif ;
  color: navy;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
  color: white;
}

button::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: navy;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}

button:hover::before{
  height: 180%;
}