body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  border: navy 2px solid;
  height: 100px;
  width: 300px;
  font-size: 2em;
  font-family:"Gill Sans", sans-serif ;
  color: navy;
  border-radius: 8px;
  position: relative;
}

button:hover {
  animation: fill 5s;
  cursor: pointer;
}

button::after {
  background-color: navy;
  color: white;
}

@keyframes fill {
  0%{
    background-color: white;
    color: navy;
  }
  100% {
    background-color: navy;
    color: white;
  }
}