body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.ul-icons {
  margin-right: 90px;
  padding: 0;
}

.ul-icons li {
  height: 60px;
  width: 60px;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  transform: rotate(-30deg) skew(25deg);
  position: relative;
}

.ul-icons li span {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  transition: .5s;
  font-size: 30px;
  margin-right: 60em;
}

.ul-icons li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.ul-icons li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.ul-icons li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.ul-icons li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

.ul-icons li:hover span:nth-child(1) {
  transform: translate(0,0);
  opacity: .2;
}

.ul-icons li:nth-child(1) span {
  background-color: #0072b1;
}

.ul-icons li:nth-child(2) span {
  background-color: #28D146;
}

.ul-icons li:nth-child(3) span {
  background-color: #3b5998;
}

.ul-icons li:nth-child(4) span {
  background-color: #26a7de;
}

.ul-icons li:nth-child(5) span {
  background-image: linear-gradient(to top, #FEDA75 , #FA7E1E, #D62976, #962FBF, #4F5CD5);
}