body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

button {
  font-family:"Gill Sans", sans-serif ;
  color: white;
  background: navy;
  font-size: 1.5em;
  border-radius: 10px;
  height: 100px;
  width: 300px;
  border: 4px solid white;
  position: relative;
}

button::before, button::after {
  height: 4px;
  width: 20px;
  background-color: black;
  transition: .10s linear;
  content: "";
  transform: skewx(50deg);
  position: absolute;
}

button::before {
  top: -4px;
  left:5%;
}

button::after {
  bottom: -4px;
  right: 5%;
}

button:hover::before{
  left: 80%;
}

button:hover::after{
  right: 80%;
}

button:hover .text {
  display: none;
}

.hover-text{
  display: none;
}

button:hover .hover-text {
  display:inline;
}