.notification {
  bottom: 50px;
  left: 50px;
  position: absolute;
  font-family: sans-serif;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.833);
  color: white;
  padding: 10px 25px;
  transform: translateY(50px);
  opacity: 0;
  animation: fade 4s linear forwards;
}

@keyframes fade {
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}