body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

a {
  color: white;
  overflow: hidden;
  position: relative;
  font-size: 3em;
}

a::after {
  content: attr(data-replace);
  position: absolute;
  left: 0;
  /* moves the pseudo-element 100% of its width to the right, hiding it */
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-in-out;
  color: lightblue;
  text-decoration: underline;
}

a:hover::after {
  /* moves the pseudo-element back to its original position, making it visible */
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

a:hover span {
  /* moves the element to the left, hiding it */
  transform: translate3d(-100%, 0, 0);
}